In [12]:
import pandas as pd
# 读取excel
# pd.read_csv()
data = pd.read_csv('../data/nba.csv')
# print(data.head()) # 默认返回前五行
# print(data.head(10)) # 返回前10行
print(data.tail(10)) # 默认返回后5行

               Name       Team  Number Position   Age Height  Weight  \
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0
457             NaN        NaN     NaN      NaN   NaN    NaN     NaN

      College      Salary
448    Butler  15409570.0
449      Duke   1348440.0
450       NaN   2050000.0
451    Dayton    981348.0
452  Kentucky   2239800.0
453    Butler   2433333.0
454       NaN    900000.0
455       NaN   2900000.0
456    Kansas    947276.0
457       NaN         NaN

In [14]:
print(data.info()) # 查看表格数据详情

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

In [ ]:
# 写入excel
pd.to_csv('../data/nba_new.csv')