In [2]:
import pandas as pd
df = pd.read_csv('../data/proprity-data.csv')
new_df = df.dropna(inplace=False)
print(new_df)

           PID  STNUM      STNAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH  SQFT
0  100001000.0  104.0      PUTNAM            Y            3        1  1000
1  100002000.0  106.0   LEXINGTON            N            2        2    --
2  100003000.0  108.0   LEXINGTON            N            3        3   600
7  100008000.0  118.0  WASHINGTON            Y            1   HURLEY   605
8  100009000.0  120.0   LEXINGTON            Y           na        2   606

In [3]:

# na_values = ['n/a', 'na','--']
print(df['NUM_BEDROOMS'].isnull())
# print(df.to_json())
print(df.to_string())

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool
           PID  STNUM      STNAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH  SQFT
0  100001000.0  104.0      PUTNAM            Y            3        1  1000
1  100002000.0  106.0   LEXINGTON            N            2        2    --
2  100003000.0  108.0   LEXINGTON            N            3        3   600
3  100004000.0    NaN  WASHINGTON           12          NaN      NaN   601
4          NaN  112.0  WASHINGTON            Y            1        2   602
5  100006000.0  114.0  WASHINGTON            Y          NaN        3   603
6  100007000.0    NaN   LEXINGTON          NaN            2        1   NaN
7  100008000.0  118.0  WASHINGTON            Y            1   HURLEY   605
8  100009000.0  120.0   LEXINGTON            Y           na        2   606

In [4]:
# 使用12345替换空值
df.fillna(12345,inplace=True)
print(df.to_string())

           PID    STNUM      STNAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQFT
0  100001000.0    104.0      PUTNAM            Y            3        1   1000
1  100002000.0    106.0   LEXINGTON            N            2        2     --
2  100003000.0    108.0   LEXINGTON            N            3        3    600
3  100004000.0  12345.0  WASHINGTON           12        12345    12345    601
4      12345.0    112.0  WASHINGTON            Y            1        2    602
5  100006000.0    114.0  WASHINGTON            Y        12345        3    603
6  100007000.0  12345.0   LEXINGTON        12345            2        1  12345
7  100008000.0    118.0  WASHINGTON            Y            1   HURLEY    605
8  100009000.0    120.0   LEXINGTON            Y           na        2    606