In [30]:
import pandas as pd

df = pd.read_csv('../data/proprity-data.csv', na_values=['n/a', 'na', '--', '-999999999'])
# print(df['NUM_BEDROOMS'].isnull()) # 查看NUM_BEDROOMS列里是否为空值
new_df = df.dropna(inplace=False)  # dropna() ⽅法返回⼀个新的DataFrame，不会修改源数据,如果想修改，inplace=True
print(new_df.to_string())
# print(new_df.to_json())

           PID  STNUM      STNAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH    SQFT
0  100001000.0  104.0      PUTNAM            Y           3.0        1  1000.0
2  100003000.0  108.0   LEXINGTON            N           3.0        3   600.0
7  100008000.0  118.0  WASHINGTON            Y           1.0   HURLEY   605.0

In [31]:
# 使用xxxxxxxxxxxx替换全部的空值、或只替换PID列为空的数据
df['PID'].fillna('xxxxxxxxxxxxx', inplace=True)
# df.fillna('xxxxxxxxxxxxx', inplace=True)
print(df.to_string())

             PID  STNUM      STNAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH    SQFT
0    100001000.0  104.0      PUTNAM            Y           3.0        1  1000.0
1    100002000.0  106.0   LEXINGTON            N           2.0        2     NaN
2    100003000.0  108.0   LEXINGTON            N           3.0        3   600.0
3    100004000.0    NaN  WASHINGTON           12           NaN      NaN   601.0
4  xxxxxxxxxxxxx  112.0  WASHINGTON            Y           1.0        2   602.0
5    100006000.0  114.0  WASHINGTON            Y           NaN        3   603.0
6    100007000.0    NaN   LEXINGTON          NaN           2.0        1     NaN
7    100008000.0  118.0  WASHINGTON            Y           1.0   HURLEY   605.0
8    100009000.0  120.0   LEXINGTON            Y           NaN        2   606.0

In [23]:
# 删除某列字段置为空的行
df.dropna(subset=['STNUM'], inplace=True) 
print(df.to_string())

           PID  STNUM      STNAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH    SQFT
0  100001000.0  104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0  106.0   LEXINGTON            N           2.0        2     NaN
2  100003000.0  108.0   LEXINGTON            N           3.0        3   600.0
4          NaN  112.0  WASHINGTON            Y           1.0        2   602.0
5  100006000.0  114.0  WASHINGTON            Y           NaN        3   603.0
7  100008000.0  118.0  WASHINGTON            Y           1.0   HURLEY   605.0
8  100009000.0  120.0   LEXINGTON            Y           NaN        2   606.0

In [32]:
# 计算均值、中位数、众数
import pandas as pd
df = pd.read_csv('../data/proprity-data.csv')

# 计算平均值、中位数、众数并填充到空值位置
x = df['STNUM'].mean()
y = df['STNUM'].median()
z = df['STNUM'].mode()
df['STNUM'].fillna(x, inplace=True)
print(df.to_string())

           PID       STNUM      STNAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH  SQFT
0  100001000.0  104.000000      PUTNAM            Y            3        1  1000
1  100002000.0  106.000000   LEXINGTON            N            2        2    --
2  100003000.0  108.000000   LEXINGTON            N            3        3   600
3  100004000.0  111.714286  WASHINGTON           12          NaN      NaN   601
4          NaN  112.000000  WASHINGTON            Y            1        2   602
5  100006000.0  114.000000  WASHINGTON            Y          NaN        3   603
6  100007000.0  111.714286   LEXINGTON          NaN            2        1   NaN
7  100008000.0  118.000000  WASHINGTON            Y            1   HURLEY   605
8  100009000.0  120.000000   LEXINGTON            Y           na        2   606