In [10]:
# 1.导入 Pandas 库并简写为 pd，并输出版本号
import pandas as pd
import numpy as np
pd.__version__

'2.0.3'

In [6]:
# 2.从列表创建 Series
arr = [0, 1, 2, 3, 4]
df = pd.Series(arr)
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [8]:
# 3.从字典创建 Series
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
# 4.从 NumPy 数组创建 DataFrame
dates = pd.date_range('today', periods=7)
num_arr = np.random.randn(7,4)
columns = ['a','b','c','d']
df = pd.DataFrame(num_arr, columns=columns,index=dates)
df

                                   a         b         c         d
2024-04-10 09:48:26.409462 -1.483035  0.224180 -1.342794  2.253743
2024-04-11 09:48:26.409462 -0.029174 -2.659827 -0.067607  0.531702
2024-04-12 09:48:26.409462 -0.052206 -0.470585 -0.273904  2.345577
2024-04-13 09:48:26.409462  0.125229  0.820492  1.000879 -0.804780
2024-04-14 09:48:26.409462 -0.336382 -1.153941  0.470376 -0.224462
2024-04-15 09:48:26.409462 -1.593045  0.844175 -0.101117  0.127502
2024-04-16 09:48:26.409462  1.037080 -0.273428  0.169892 -0.175256

In [19]:
# 5.从CSV中创建 DataFrame，分隔符为;，编码格式为gbk
df = pd.read_csv("../../data/门店订单信息.csv", encoding="utf-8", sep=";")
df

           序号,门店,订单,订单号,地区,时间
0  1,1,55,1232132,成都,2023/1/1
1  2,1,44,2423323,重庆,2023/1/2
2  3,2,23,3614514,重庆,2023/1/3
3  4,2,21,4805705,重庆,2023/1/4

In [17]:
# 6.从字典对象data创建DataFrame，设置索引为labels