In [ ]:
# 1.导入 Pandas 库并简写为 pd，并输出版本号
import pandas as pd
import numpy as np

pd.__version__

In [6]:
# 2.从列表创建 Series
arr = [0, 1, 2, 3, 4]
df = pd.Series(arr)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [53]:
# 3.从字典创建 Series
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
df = pd.Series(d)

In [57]:
# 4.从 NumPy 数组创建 DataFrame
data = np.random.randn(6, 4)
index = pd.date_range('today', periods=6)
columns = ['A', 'B', 'C', 'D']
df = pd.DataFrame(data, index=index, columns=columns)
df

                                   A         B         C         D
2024-04-11 09:07:33.419063  1.236841  0.185336  1.661354 -0.023091
2024-04-12 09:07:33.419063 -0.449463 -0.221996  1.090657 -0.367026
2024-04-13 09:07:33.419063  0.633009 -2.308592 -0.525491 -0.228577
2024-04-14 09:07:33.419063 -0.569259 -0.253622 -1.224389  1.000550
2024-04-15 09:07:33.419063  0.475707 -0.553380 -0.406396 -0.422907
2024-04-16 09:07:33.419063 -0.195538 -1.792788  0.217068  0.151342

In [19]:
# 5.从CSV中创建 DataFrame，分隔符为;，编码格式为gbk
df = pd.read_csv("../../data/门店订单信息.csv", encoding="utf-8", sep=";")
df

           序号,门店,订单,订单号,地区,时间
0  1,1,55,1232132,成都,2023/1/1
1  2,1,44,2423323,重庆,2023/1/2
2  3,2,23,3614514,重庆,2023/1/3
3  4,2,21,4805705,重庆,2023/1/4

In [108]:
# 6.从字典对象data创建DataFrame，设置索引为labels
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
# df = pd.DataFrame(data,index=pd.date_range('today', periods=10))
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [61]:
# 7.显示DataFrame的基础信息，包括行的数量；列名；每一列值的数量、类型
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [9]:
# 8.展示df的前3行
df.iloc[:3]
df.head(3)

                           animal  age  visits priority
2024-04-10 14:28:12.687787    cat  2.5       1      yes
2024-04-11 14:28:12.687787    cat  3.0       3      yes
2024-04-12 14:28:12.687787  snake  0.5       2       no

In [63]:
# 9.取出df的animal和age列
df[["animal", 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [68]:
# 10.取出索引为[3, 4, 8]行的animal和age列
df.loc[df.index[[2, 3, 4]], ['animal', 'age']]

  animal  age
c  snake  0.5
d    dog  NaN
e    dog  5.0

In [69]:
# 11.取出age值大于3的行
df[df['age'] > 3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [70]:
# 12.取出age值缺失的行
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [71]:
# 13.取出age在2,4间的行（不含）
df[(df['age'] > 2) & (df['age'] < 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

In [77]:
# 14.f行的age改为1.5
df.loc['j', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  1.5       1       no

In [81]:
# 15.计算visits的总和
df['visits'].sum()

19

In [82]:
# 16.计算每个不同种类animal的age的平均数
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      4.500000
snake    2.500000
Name: age, dtype: float64

In [88]:
# 17.在df中插入新行k，然后删除该行
df.loc['k'] = [5.5, 'dog', 'no', 2]
df
df = df.drop('k')

In [89]:
# 18.计算df中每个种类animal的数量
df['animal'].value_counts()

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

In [90]:
# 19.先按age降序排列，后按visits升序排列
df.sort_values(by=['age', 'visits'], ascending=[False, True])
df

  animal  age visits priority
a    cat  2.5      1      yes
b    cat  3.0      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog  5.0      2       no
f    cat  1.5      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog  7.0      2       no
j    dog  1.5      1       no

In [101]:
# 20.将priority列中的yes, no替换为布尔值True, False
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

KeyError: 'priority'

In [109]:
# 21.将animal列中的snake替换为python
df['animal'] = df['animal'].replace({'snake': 'python'})
df
# df['animal'] = df['animal'].replace({'python':'snake'})

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  2.0       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

In [97]:
# 22.对每种animal的每种不同数量visits，计算平均age，即，返回一个表格，行是aniaml种类，列是visits数量，表格值是行动物种类列访客数量的平均年龄
## 不会啊，哈哈嘎嘎

  animal  age visits  priority
a    cat  2.5      1      True
b    cat  3.0      3      True
c  snake  0.5      2     False
d    dog  NaN      3      True
e    dog  5.0      2     False
f    cat  1.5      3     False
g  snake  4.5      1     False
h    cat  NaN      1      True
i    dog  7.0      2     False
j    dog  1.5      1     False

In [112]:
# 23.有一列整数列A的DatraFrame，删除数值重复的行
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df1 = df.drop_duplicates(subset='A')
df1

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [116]:
# 24.一个全数值DatraFrame，每个数字减去该行的平均数
df = pd.DataFrame(np.random.random(size=(5, 3)))
df1 = df.sub(df.mean(axis=1), axis=0)
df1

          0         1         2
0 -0.365440  0.271693  0.093748
1  0.034024 -0.074270  0.040246
2  0.067234 -0.428959  0.361725
3  0.321265 -0.219821 -0.101444
4 -0.292136 -0.131129  0.423265

In [121]:
# 25.一个有5列的DataFrame，求哪一列的和最小
df = pd.DataFrame(np.random.random(size=(2, 5)), columns=list('abcde'))
df.sum().idxmin()

'd'

In [128]:
# 26.给定DataFrame，求A列每个值的前3大的B的和
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'),
                   'B': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})
df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)
df1

TypeError: sum() got an unexpected keyword argument 'level'