In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(pd.read_csv('../../data/门店订单信息.csv'))

In [4]:
df

   序号  门店  订单      订单号  地区        时间
0   1   1  55  1232132  成都  2023/1/1
1   2   1  44  2423323  重庆  2023/1/2
2   3   2  23  3614514  重庆  2023/1/3
3   4   2  21  4805705  重庆  2023/1/4